.wcorg-organizer {
    float: left;
    padding: 0 3%;
    width: 50%;
}
.wcorg-organizers .wcorg-organizer:nth-child(2n+1) {
      clear: both;
}
.wcorg-organizer .sd-like {
  display: none;
}

section div.gold .sponsor-level-title {
background: #f7e59d;
text-align: center;
font-size: 18px;
}


section div.silver .sponsor-level-title {
background: #EFF1ED;
text-align: center;
font-size: 18px;
margin-top: 15px;}


section div.bronze .sponsor-level-title{
background: #B4A985;
text-align: center;
font-size: 18px;
margin-top: 15px;}
